.home-heading{
    margin-top: 10%;
}
div{
    text-align: center;
}
.subscription-body{
    
    width:90%;
    max-width: 1000px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
   margin-top: 12px;
}
.monthyear{
    background-color: #055eb9;
    border-radius: 25px;
   
    padding: 5px;
}
.monthyear .btn{
    width: 100px;
    color: white;
}
.monthyear .btn-active{
    background-color: white;
    border-radius: 25px;
    color: black;
}
.sub-heading{
    margin-bottom:30px;
}

.plan-heading .plan-col{
   height: 75px;
   line-height: 75px;
    text-align: center;
    background-color:#496e86 ;
    color: white;
    width: 80%;
    margin: auto;
}
.plan-heading .plan-col:hover{
    background-color:#055eb9 ;
}
.plan-heading .head-active{
    background-color:#055eb9 ;
}
.head-active-ele
{
    color: #055eb9;
}