.home-heading{
    margin-top: 10%;
}
.subscription-body{
    
    width:90%;
    max-width: 1000px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
   margin-top: 12px;
}
.monthyear{
    background-color: #055eb9;
    border-radius: 25px;
    margin-top: 5%;
    padding: 5px;
}
.monthyear .btn{
    width: 100px;
    color: white;
}
.monthyear .btn-active{
    background-color: white;
    border-radius: 25px;
    color: black;
}
.sub-heading{
    margin-bottom:30px;
}